<h2><%= cemetery.name %></h2>

<%= partial "partials/tabs/components/years", locals: { cemetery: cemetery } %>

<%= partial "partials/tabs/components/gallery", locals: { cemetery: cemetery } %>

<%= partial "partials/tabs/components/description", locals: { cemetery: cemetery } %>

<%= partial "partials/tabs/components/notable_individuals", locals: { cemetery: cemetery } %>

<%= partial "partials/tabs/components/sources", locals: { cemetery: cemetery }  %>

