<% locals = { locals: { cemetery: cemetery } } %>

<h2><%= cemetery.name %></h2>

<% unless cemetery.type.to_s.empty? %>
  <%= partial "partials/tabs/components/type", locals %>
<% end %>

<% unless cemetery.address.to_s.empty? && cemetery.address_specify.to_s.empty? %>
  <%= partial "partials/tabs/components/address", locals %>
<% end %>

<% unless cemetery.y_open.to_s.empty? && cemetery.y_close.to_s.empty? %>
  <%= partial "partials/tabs/components/years", locals %>
<% end %>

<% if cemetery.photos&.any?  %>
  <%= partial "partials/tabs/components/gallery", locals %>
<% end %>

<% unless cemetery.description.to_s.empty? %>
  <%= partial "partials/tabs/components/description", locals %>
<% end %>

<%# partial "partials/tabs/components/notable_individuals", locals %>

<%# partial "partials/tabs/components/sources", locals  %>

